/*
body{
     background-color: purple;
    background-image: url('sky.jpg');
}
*/
/*
div{
    width: 400px;
    height: 300px;
    background-image: url('sky.jpg');
    background-size: 400px 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top left;
} */

body{
    background: #000 url('sky.jpg') no-repeat top center /200px auto; /*color image image-repeating position width height*/
    
}