.menu{
    background: lightseagreen;
}
ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li{
    display: inline-block;
    padding: 10px 20px;
}
ul li a{
    text-decoration: none;
}
ul li:hover{
    background: red;
}
ul li:hover a{
    color: #fff;
}